
.bg {
  background: url("./chalkboard.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo {
  height: 100px;
  margin: 35% 0 0 70%;
}

.apple {
height: 40px;
margin: .5em 4.2em;
}

.form {
  height: 400px;
  width: 250px;
background: white;
padding: 1em;
margin: 3em 4.5em;
box-shadow: 10px 10px 10px black;
}

h3 {
  font-size: .7rem;
}

h4 {
  font-size: 1.5rem;
  margin-top: 7%;
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
}

/*
p {
  font-size: .8rem;
  text-align: center;
} */


* { 
  outline: 1px solid #947676 !important; 
  } 
  
   * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    }

